* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

.title {
  font-size: 1.6rem;
}

.wrap {
  width: 70vw;
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nwrp {
  text-align: left;
}

main {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 0.8;
}

.task-input {
  position: relative;
  transform: scale(1.2);
  margin: 15px auto;
}

.task-list {
  width: 70vw;
  min-height: 45vh;
  border: 1px solid rgb(209, 194, 194);
  background-color: rgb(226, 222, 217);
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 5px;
}

.task {
  margin: 10px 20px;
  padding: 10px;
  background-color: rgb(241, 229, 229);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(146, 130, 130);
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pointer::before {
  content: '👉';
  position: absolute;
  top: 10px;
  left: -10px;
  animation: thisHere 0.2s ease-in-out infinite alternate; 
}

@keyframes thisHere {
  from {
    transform: rotate(-40deg) translate(-15px, 0);
  }

  to {
    transform: rotate(-40deg) translate(10px, 0);
  }
}

.task-list span {
  display: inline-block;
  margin-left: 10px;
}

